html, body {
  position: relative; }

.background-table-news {
  padding: 0px 15px 15px 15px;
  background: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-width: 1023px; }

.header-table-custom {
  margin: 15px 0px 30px 0px; }

.table-font-color-dark {
  color: #3B58A1; }

.table-font-color-light {
  color: #4A90E2; }

.table-header-font-size {
  font-size: 30px;
  font-weight: bold; }

.table-header-margin {
  margin-left: 6.5%; }

.background-table-news h2 {
  display: inline-block; }

.background-table-news .filled-in[type="checkbox"] + label {
  padding: 0 !important;
  position: relative;
  cursor: pointer;
  height: 0px;
  margin: 10px;
  line-height: 18px; }

.background-table-news [type="checkbox"].filled-in:checked + label::before {
  width: 6px;
  height: 11px; }

.background-table-news [type="checkbox"].filled-in:not(:checked) + label::after {
  border: 1px solid #3B58A1 !important;
  height: 16px;
  width: 16px; }

.background-table-news [type="checkbox"].filled-in:checked + label::after {
  border: 2px solid #3B58A1;
  background-color: #3B58A1;
  width: 16px;
  height: 16px; }

.table-text-center > th,
.table-text-center {
  text-align: center !important; }

.background-table-news td, th {
  padding: 15px 25px;
  border-bottom: 2px solid #3B58A1 !important; }

.background-table-news td {
  padding: 5px 5px !important; }

.table-text-decoration {
  text-decoration: none;
  color: #DD7D1E; }

.table-dark-col-bg-color {
  background-color: #eeeeee; }

.table-light-col-bg-color {
  background-color: #f9f9f9; }

.table-bg-color-orange {
  background-color: #DD7D1E !important; }

.table-btn {
  float: right;
  margin-top: 2rem;
  font-size: 20px;
  text-transform: none !important;
  height: 46px;
  padding: 0.5% 7% 0.5% 7%; }

.table-news-col-name-width {
  width: 11%; }

.table-news-col-description-width {
  width: 25%; }

.table-news-col-link-width {
  width: 19% !important; }

.table-news-col-narrow-width {
  width: 7%; }

/*# sourceMappingURL=styles.css.map */
