
.main-color 
    background-color: #213b63    
    
.footer-short 
    margin: 0 auto
    padding: 0px 80px !important

footer .row .col
    padding: 0px 0px

.footer-short-h5--margin
    margin: 5px 0px 5px 0px
    line-height: 100% !important

div.col.offset-l3.l1>a
    margin-left: 20%

.footer-short-icon
    color: white
    font-size: 35px

footer .footer-short-h5--margin
    color: rgb(157, 168, 186)

footer .footer-short-h5--margin
    font-size: 20px
    font-weight: light !important
    color: white

footer.page-footer.main-color.footer-short>div div.row
    margin-bottom: 0px !important

div.footer-copyright
    min-height: 20px !important
    padding: 0px !important
    font-size: 12px !important
    color: rgb(157, 168, 186)
    border-top: 1px solid rgb(157, 168, 186)

.container-custom
    padding: 20px 0px !important


