//  всё общее для всей страницы до иконки для lesson
    
    //  общий бэкграунд
.studentBack

    background-color: green
    padding: 0 0 0 40px

    //   очень важная вешь пихаем везде
.positionRelative
    position: relative

//цвета текста во многих метсах
.textColor
    color: rgb(059, 088, 161)

// оранжевый текст
.orangeColor
    color: rgb(221, 125, 030)

.lightTextColor
    color: rgb(118, 180, 252)

.greyText
    color: rgb(175, 175, 175)



// хедер 
.header
    height: 300px
    background-image: url(./assets/mesh-1430107_1280_copy_4.png)
    background-size: cover
    padding: 4% 0 2% 10%
    margin-bottom: 0px !important
    >div
        >span
            margin-bottom: 10px
            font-size: 20px


// морда-лица
.photo
    background-image: url(./assets/photo.png)
    background-size: cover
    height: 150px
    width: 150px
    margin-right: 40px

.userName
    margin-bottom: 30px
    margin-top: 0px !important

//  Расписания   

.schedule
    background-color: rgb(236, 240, 250)
    padding-top: 1%
    padding-bottom: 4%
    >a
        position: absolute
        right: 200px
        top: 70px
    >h3
        padding-left: 140px
        margin-bottom: 5%
    >.row>.left>.lightTextColor>b
        font-size: 45px !important

//  дни 
.littleBox
    background-color: rgb(219, 226, 245)
    height: 300px
    width: 160px
    margin: 0 3% 0 1%
    box-shadow: 3px 3px rgb(175, 175, 175)

.boxPast
    background-color: rgb(219, 226, 245)
    height: 300px
    margin-right: 4%
    padding-left: 2% !important
    box-shadow:  3px 3px rgb(175, 175, 175)

.boxMarg
    margin: 30px 0 30px 0
    font-size: 25px
    >.textColor
        font-size: 20px


.boxNow
    background-color: white
    height: 310px
    margin-right: 4%
    padding-left: 1% !important
    border: 10px solid rgb(118, 180, 252)
    top: -7px 

.boxFuture
    background-color: rgb(219, 226, 245)
    height: 300px
    margin-right: 4%
    padding-left: 2% !important
    border: 5px solid rgb(118, 180, 252)
    >h4
        margin: 15px 0 10px 0 !important
    >div
        margin: 30px 0 20px 0 !important

.boxNextFuture
    background-color: rgb(219, 226, 245)
    height: 300px
    margin-right: 4%
    padding-left: 2% !important
    padding-top: 1%
    border: 5px solid rgb(118, 180, 252)
    >h4
        margin: 15px 0 10px 0 !important
    >div
        margin: 30px 0 20px 0 !important

//  стрелки
.iconArrowRight
    background-image: url(./assets/arrow_right.png)
    height: 67px
    width: 30px
    background-size: cover
    position: absolute
    left: 10px
    top: 116px

.iconArrowLeft
    background-image: url(./assets/arrow_left.png)
    height: 67px
    width: 37px
    background-size: cover
    position: absolute
    right: -50%
    top: 116px



// homework

.homework
    background-color: white
    padding: 5% 2% 5% 2%
    >div>h3
        margin-left: 10%
        margin-bottom: 2%

.iconAroundSend
    background-image: url(./assets/ic_drafts_blue.png)
    height: 30px
    width: 30px
    background-size: cover
    position: absolute
    top: 22%
    left: 60%

.readSend
    position: absolute
    colir: grean !important
    top: 50px
    left: 60%
    display: none
    
.iconAroundSend:hover+.readSend
    display: block  

.iconAroundSend:hover
    background-color: orange
    border-radius: 20px
    width: 30px
    height: 30px
    


.iconAroundUpdate
    background-image: url(./assets/ic_refresh_blue.png)
    height: 30px
    width: 30px
    background-size: cover
    position: absolute
    top: 22%
    left: 65%

.back
    position: absolute
    top: 22%
    left: 85%

.homeworkLine
    background-color: rgb(236, 240, 250)
    padding: 20px 0px 20px 100px

    >div
        margin-left: 5%
        font-size: 30px
    >a
        font-size: 20px

.homeworkMarginRight
    margin-right: 5%

.iconFolder
    background-image: url(./assets/ic_folder_copy.png)
    height: 30px
    width: 30px
    background-size: cover
    position: absolute
    top: 35%
    left: 60%

.iconCreate
    background-image: url(./assets/ic_create.png)
    height: 30px
    width: 30px
    background-size: cover
    position: absolute
    top: 35%
    left: 65%

.iconDescription
    background-image: url(./assets/ic_description_blue.png)
    height: 30px
    width: 30px
    background-size: cover
    position: absolute
    top: 35%
    left: 70%

.showMore
    position: absolute
    top: 35%
    left: 85%

// стрелка вниз
.iconArrowDown
    background-image: url(./assets/arraw_down.png)
    height: 33px
    width: 60px
    background-size: cover
    position: absolute
    left: 45%
    background-color: white
    border: 0px solid white !important

.iconArrowDown:focus
    background-color: white !important


//progress

.progress
    background-color: rgb(236, 240, 250)
    height: 500px
    margin: 0px
    >div>h3
        margin-left: 10%
        margin-bottom: 5%
    >div>div>.center-align
        font-size: 45px
        margin: 20px 0 20px 0
    >div>div>.textColor
        font-size: 20px
    >div>.iconArrowRight
        top: 80px
    >div>div>.iconArrowLeft
        top: 80px


.progrLittleBox
    background-color: rgb(219, 226, 245)
    height: 230px
    margin: 0 3% 0 1%
    box-shadow: 3px 3px rgb(175, 175, 175)

.progrBoxPast
    background-color: rgb(219, 226, 245)
    height: 230px
    margin-right: 4%
    padding-left: 2% !important
    box-shadow:  3px 3px rgb(175, 175, 175)
    >div>a
        border-bottom: 1px solid rgb(221, 125, 030)

.progrNext
    background-color: rgb(219, 226, 245)
    height: 240px
    margin-right: 4%
    padding-left: 2% !important
    border: 5px solid rgb(221, 125, 030)
    top: -5px 



// новости
.news
    background-color: white
    padding: 2%
    >h3
        margin-left: 10%
        margin-bottom: 2%
    >div>div>div>div>p
        margin-bottom: 30px !important
        font-size: 25px
    >div>div>div>div>div, a, span
        font-size: 20px
        margin-right: 0px !important

.activNews
    background-color: rgb(118, 180, 252) !important

//  ивенты
.events
    background-color: white
    padding: 2% 2% 8% 2%
    >div>a>h3
        margin-left: 10% !important
        margin-bottom: 2%
    >div>a
        font-size: 20px
        margin-top: 40px
        width: 120px !important 
    >div>a:last-child
        border-bottom: 1px solid grey
    >div>div>div>div
        padding: 35px 24px !important
    >div>div>div>div>p
        margin-bottom: 30px !important
        font-size: 25px
    >div>div>div>div>div, a, span
        font-size: 20px
        margin-right: 0px !important

.buttomActive
    padding: 15px 30px
    font-size: 30px
    background-color: rgb(221, 125, 030)
    width: 100px
    color: white !important
    border-radius: 5px

.buttom
    padding: 15px 30px
    font-size: 30px
    background-color: white
    width: 100px
    color: rgb(221, 125, 030)
    border: 1px solid rgb(221, 125, 030)
    border-radius: 5px

.card-action
    border-top: 0px solid grey !important

.bottom
    height: 300px
    background-image: url(./assets/mesh-1430107_1280_copy_4.png)
    background-size: cover

