html, body
    position: relative

.menu-color 
    background-color: rgba(21, 18, 72, 1)

.background-profile-general
    background: rgb(199,208,223)
    background-repeat: no-repeat
    background-size: 100% 100%
    min-width: 1023px

.profile-general-header-background
    background: url(profile-header-background.png)
    background-size: 100% 100%

.card-panel.profile-general-header-background.z-depth-1 div.col.s10>h3
    margin: 0px 0px 15px 0px !important
    font-weight: 600
    color: rgb(18,32,53)

.card-panel.profile-general-header-background.z-depth-1 div.col.s10>p 
    line-height: 1
    font-size: 22px
    margin: 12px 0px 0px 0px !important
    color: rgb(18,32,53)

.profile-general-name-about-wrapper.row>.col.l12>p.col.l6,
    display: inline-block
    padding: 0 0 !important

.profile-general-name-about-wrapper.row>.col.l12
    padding: 0 0 !important

.profile-general-name-about-wrapper.row>.col.l12>.col.l12>h4
    font-weight: bold !important
    font-size: 2rem

.background-profile-general .profile-general-info-block-tag
    background-color: rgb(33,59,99)
    padding-left: 40px

.background-profile-general .profile-general-info-tag
    display: inline-block
    color: white
    font-weight: bold
    padding: 15px
    background-color: rgb(221,125,30)

.profile-general-name-about-wrapper.row>.col.l12>.col.l12
    padding: 0 0 !important

.profile-general-name-about-wrapper.row>.col.l12>.col.l12>p
    margin: 1.8rem 0 .912rem 0 !important
    color: grey
    line-height: 21px

.profile-general-name-about-wrapper.row>.col.l12>.col.l12>p::before
    content: url(facebook-placeholder-for-locate-places-on-maps.png)
    display: inline-block
    width: 25px
    height: 25px

.profile-general-name-about-wrapper.row>.col.l12>p:first-of-type
    font-weight: bold !important

.profile-general-textarea-label
    color: rgb(10,17,27) !important

.profile-general-textarea-label::before
    content: url(man-user.png)
    margin-right: 8px

.profile-general-textarea:focus
    border-bottom: 1px solid gray !important
    box-shadow: 0 1px 0 0 gray !important

.profile-general-textarea:focus + label.profile-general-textarea-label
    color: grey !important

.background-profile-general .profile-general-header-background.card-panel
    margin: 0 !important

.profile-general-information-wrapper
    padding-bottom: 30px

.profile-general-contact-information-wrapper.row>.col.l8>.row>h5.col.l12,
.profile-general-basic-information-wrapper.row>.col.l6>.row>h5.col.l12
    font-size: 1.3em
    letter-spacing: .9
    color: rgb(113,120,129)

.profile-general-contact-information-wrapper.row p.col.l2,
.profile-general-basic-information-wrapper.row p.col.l2,
.profile-general-basic-information-wrapper.row p.col.l10
    color: rgb(15,22,32)
    font-weight: bold


.profile-general-contact-icon::before
    display: inline-block
    content: url(edit.png)
    height: 25px
    width: 25px
    padding: 3px 3px 3px 3px

.profile-general-contact-icon:hover::before
    cursor: pointer
    content: url(edit_copy.png)
    height: 25px
    width: 25px
    padding: 3px 3px 3px 3px

.profile-general-basic-information-wrapper.row>div.col.l6>div.row>div.row
    position: relative

.profile-general-contact-information-wrapper.row p.col.l5.profile-general-contact-phone
    color: rgba(15,22,32,1) !important
    font-weight: bold


.profile-general-contact-information-wrapper.row p.col.l5.profile-general-contact-adress
    color: rgba(51,57,65,1) !important
    font-weight: bold

.profile-general-contact-email
    color: rgb(2,49,122)
    font-weight: bold

.profile-general-basic-information-wrapper.row>.col.l6>.row>.row>.col.s7
    margin-left: 10px !important

.profile-general-basic-information-wrapper.row>.col.l6>.row>.row>.col.s7>a
    padding: 0px !important
    margin-left: 0px !important
    border-bottom: 2px solid #203512 !important
    color: rgb(18,32,53) !important
    border-radius: 0 !important
    text-transform: none !important
    font-weight: 600 !important
    &:hover
        cursor: pointer

.profile-changepassword-fields
    display: none

.profile-changepassword-fields:target
    color: black !important
    border: none !important
    margin-left: 10px !important
    display: inline-block !important

.profile-changepassword-fields .input-field.col.s7
    padding-left: 10px !important
    background-color: white !important
    margin-left: 10px !important
    border-radius: 2px

.profile-changepassword-fields .input-field.col.s7>input
    height: 2rem
    &:focus
        border-bottom-color: black
        box-shadow: 0px 3px 3px black !important

.profile-changepassword-buttons-wrapper
    margin-left: 25px !important

.profile-changepassword-fields-submit,
.profile-changepassword-fields-close
    float: right
    color: black
    font-weight: bold
    letter-spacing: 1.2
    background-color: rgb(221,125,30)
    padding: 5px 15px 5px 15px
    margin: 5px
    border-radius: 3px
    &:hover
        cursor: pointer
        background-color: rgba(221,125,30,0.6)



