
.activation-wrapper
    width: 100%
    height: 100%
    background-color: rgba(59, 88, 161, 0.1)
    padding:
        top: 2%

.activation-message-wrapper
    width: 55%
    margin: 0 auto
    padding: 15px
    text-align: center
    z-index: 20
    background-color: white
    border-radius: 5px
    box-shadow: -3px 4px 6px grey

.activation-message-wrapper>h2
    color: #17134c
    position: relative
    margin-bottom: 70px


.activation-message-button-wrapper
    text-align: right

.activation-message-button-wrapper>a>i.material-icons.small
    color: rgb(59, 88, 161)
    &:hover
        cursor: pointer


input[type=text]:not(.browser-default)    
    border: 1px solid grey
    padding: 10px 10px 10px 20px
    border-radius: 5px
    position: relative
    background-color: grey
    width: 610px !important

.textarea
    height: 160px !important
    background-color: grey!important
    width: 640px !important
    padding: 10px 10px 10px 20px !important
    color: white !important
    border-radius: 5px !important


input:not([type]), input[type=text]:not(.browser-default), textarea.materialize-textarea
    border-bottom: 0px solid  !important
    -webkit-box-shadow: 0 0 0  !important
    box-shadow: 0  0 0 !important

.relative
    position: relative

.Excellent
    text-align: left
    margin: 5% 0 5% 5%
    >span
        color: blue

.Excellent span:last-child
    border: 2px solid blue
    padding: 5px 20px
    margin-left: 10px

.addButton
    text-align: left
    margin: 3em 0em 3em 0
    border-bottom: 1px solid blue
    padding-bottom: 2px
    color: blue


// картинка карандаша
.editPicture
    position: absolute
    width: 25px
    height: 25px
    background-image: url(./components/edit.png)
    background-repeat: no-repeat
    left: 50px
    top: 3px


.note
    height: 60px !important
    background-color: grey!important
    width: 640px !important
    padding: 10px 10px 10px 20px !important
    color: white !important
    border-radius: 5px !important

// 2 кнопки внизу
.activation-message-button-wrapper-end
    margin-bottom: 50px
    margin-top: 30px
    >a:first-child
        background-color: #DD7D1E
        color: black
        padding: 10px 30px
        border-radius: 5px
        margin-right: 30px
    >a:last-child
        background-color: #213b63
        color: white
        padding: 10px 40px
        border-radius: 5px

