//  всё общее для всей страницы до иконки для lesson
    
    //  общий бэкграунд
.teacherBack
    background: #7e93bb
    height: 2000px
    background-image: url(./Teacher_materials/gb.png)
    background-size: cover
    //   очень важная вешь пихаем везде
.positionRelative
    position: relative

.main
    padding: 2% 5% 0 5%
    >h1
        color: #17134c

// курсор не работатет(
.cursor
    // cursor: url(./Teacher_materials/chat.png)
    cursor: help

// иконки для lesson
    background-image: url(./Teacher_materials/chat.png)
    background-size: cover
    position: absolute
    width: 25px
    height: 25px
    right: 17em

.iconTeacherContract
    background-image: url(./Teacher_materials/contract.png)
    background-size: cover
    position: absolute
    width: 25px
    height: 25px
    right: 13.5em

.iconTeacherRubbish
    background-image: url(./Teacher_materials/rubbish.png)
    background-size: cover
    position: absolute
    width: 20px
    height: 25px
    right: 10.5em

.iconTeacherPlus
    background-image: url(./Teacher_materials/plus.png)
    background-size: cover
    position: absolute
    width: 25px
    height: 25px
    right: 13.5em


//  иконки для фамилий в открывашках(1 Petramko danil)
.iconTeacherChat
    background-image: url(./Teacher_materials/chat.png)
    background-size: cover
    position: absolute
    width: 25px
    height: 25px
    right: 17em

.iconTeacherFolder
    background-image: url(./Teacher_materials/folder.png)
    background-size: cover
    position: absolute
    width: 25px
    height: 25px
    right: 10.5em

.iconTeacherTick
    background-image: url(./Teacher_materials/tick.png)
    background-size: cover
    position: absolute
    width: 25px
    height: 25px
    right: 3.5em

.iconTeacherStar
    background-image: url(./Teacher_materials/star.png)
    background-size: cover
    position: absolute
    width: 25px
    height: 25px
    right: 3.5em

.iconTeacherCancel
    background-image: url(./Teacher_materials/cancel.png)
    background-size: cover
    position: absolute
    width: 25px
    height: 25px
    right: 3.5em
   
    // под тичером 3 слова(history....)

.menu>ul>li
    display: inline-block
    margin-right: 30px
    padding: 5% auto
    margin-bottom: 40px
    >a
        color: #17134c !important
        >i
            position: absolute
            bottom: -10px
            right: -15px
            font-size: 35px

.selectAll        
    border: 1px solid #17134c
    padding: 0px 3px

.selectBottom
    border-bottom: 1px solid #17134c
    padding-right: 15px
    position: relative
// дроп меню
.dropMenu
    position: absolute
    left: 0px
    top: 25px
    width: 115%
    display: none
    >li
        background-color: white
        width: 85%
        >a
        color: #17134c

ul.row  li:hover  ul.dropMenu
    display: block



// lesson причем везде где есть это слово
        
.lesson
    background-color: #213b63
    color: white
    padding: 20px 0 5px 0 
    text-align: center
    margin-bottom: 5px
    .offset-s5
        padding: 0px
        >a
            color: white
    >.s1>a
        color: white       
    >.center
        font-size: 10px
        color: orange
b
    font-size: 14px

.open-menu
    padding: 15px 0 15px 0
    color: white
    margin-bottom: 5px

//  фоны внутри lesson и активный lesson
.bc-dark
    background-color: #17134c

.bc-white
    background-color: #213b63

.bc-grey
    background-color: #96a7cb


//  строка где идёт имя фамилия  внутри lesson
.line
    margin-bottom: 4px !important
    >div
        height: 44px
        padding: 10px !important
