.circl {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 38px;
  text-align: center; }

.pole {
  width: 100%;
  position: relative; }

.zaglav {
  margin: 5% 0 5% 1%; }

.left-ots {
  margin: 33% 0 4% 5%; }

.blue-text {
  color: blue; }

.icon-pole {
  background-image: url(./1/fa-eye.png);
  background-size: cover;
  position: absolute;
  width: 25px;
  height: 20px;
  right: 30px;
  top: 20px; }

.niz {
  padding: 4% 0 0 0; }

.knopka {
  padding: 5px 85px 5px 85px;
  background-color: #ef6c00 !important;
  height: auto;
  font-size: 20px;
  border-radius: 5px; }

.a-grey {
  color: #9e9e9e; }

.rel {
  position: relative; }

.strelka-icon {
  background-image: url(./1/Group9.png);
  background-size: cover;
  position: absolute;
  width: 185px;
  height: 20px;
  left: -178px;
  top: 38px; }

.input-field input[type=text]:focus + label {
  color: #ef6c00 !important; }

.input-field input[type=text]:focus {
  border-bottom: 1px solid #ef6c00 !important;
  box-shadow: 0 1px 0 0 #ef6c00 !important; }

.input-field input[type=text].valid {
  border-bottom: 1px solid #ef6c00 !important;
  box-shadow: 0 1px 0 0 #ef6c00 !important; }

.input-field input[type=text].invalid {
  border-bottom: 1px solid #ef6c00 !important;
  box-shadow: 0 1px 0 0 #ef6c00 !important; }

.input-field input[type=email]:focus + label {
  color: #ef6c00 !important; }

.input-field input[type=email]:focus {
  border-bottom: 1px solid #ef6c00 !important;
  box-shadow: 0 1px 0 0 #ef6c00 !important; }

.input-field input[type=email].valid {
  border-bottom: 1px solid #ef6c00 !important;
  box-shadow: 0 1px 0 0 #ef6c00 !important; }

.input-field input[type=email].invalid {
  border-bottom: 1px solid #ef6c00 !important;
  box-shadow: 0 1px 0 0 #ef6c00 !important; }

.input-field input[type=password]:focus + label {
  color: #ef6c00 !important; }

.input-field input[type=password]:focus {
  border-bottom: 1px solid #ef6c00 !important;
  box-shadow: 0 1px 0 0 #ef6c00 !important; }

.input-field input[type=password].valid {
  border-bottom: 1px solid #ef6c00 !important;
  box-shadow: 0 1px 0 0 #ef6c00 !important; }

.input-field input[type=password].invalid {
  border-bottom: 1px solid #ef6c00 !important;
  box-shadow: 0 1px 0 0 #ef6c00 !important; }

.input-field input[type=tel]:focus + label {
  color: #ef6c00 !important; }

.input-field input[type=tel]:focus {
  border-bottom: 1px solid #ef6c00 !important;
  box-shadow: 0 1px 0 0 #ef6c00 !important; }

.input-field input[type=tel].valid {
  border-bottom: 1px solid #ef6c00 !important;
  box-shadow: 0 1px 0 0 #ef6c00 !important; }

.input-field input[type=tel].invalid {
  border-bottom: 1px solid #ef6c00 !important;
  box-shadow: 0 1px 0 0 #ef6c00 !important; }

/*# sourceMappingURL=styles.css.map */
