
.activation-wrapper
    width: 100%
    height: 100%
    background-color: rgba(59, 88, 161, 0.1)
    padding:
        top: 5%

.activation-message-wrapper
    width: 55%
    margin: 0 auto
    padding: 15px
    text-align: center
    z-index: 20
    background-color: white
    border-radius: 5px
    box-shadow: -3px 4px 6px grey

.activation-message-wrapper>h2
    color: #17134c
    position: relative
    margin-bottom: 70px


.activation-message-button-wrapper
    text-align: right

.activation-message-button-wrapper>a>i.material-icons.small
    color: rgb(59, 88, 161)
    &:hover
        cursor: pointer


input[type=text]:not(.browser-default)    
    border: 1px solid grey
    padding: 10px 10px 10px 20px
    border-radius: 5px
    position: relative
    background-color: grey
    width: 610px !important

.textarea
    height: 160px !important
    background-color: grey!important
    width: 640px !important
    padding: 10px 10px 10px 20px !important
    color: white !important
    border-radius: 5px !important


input:not([type]), input[type=text]:not(.browser-default), textarea.materialize-textarea
    border-bottom: 0px solid  !important
    -webkit-box-shadow: 0 0 0  !important
    box-shadow: 0  0 0 !important

.relative
    position: relative

.addButton
    background-color: #ff7e00
    padding: 15px 20px 15px 10px
    text-align: center
    border-radius: 5px
    margin: 3em 0em 3em 30%
    width: 300px
    display: block
    color: black


.paperClipPicture
    position: absolute
    width: 30px
    height: 30px
    background-image: url(./components/paper-clip.png)
    background-repeat: no-repeat
    left: 27em
    top: 1em


.activation-message-button-wrapper-end
    background-color: #213b63
    padding: 5px 30px
    width: 120px
    text-align: center
    margin-left: 80%
    margin-bottom: 20px
    border-radius: 5px
    >a
        color: white
        font-size: 20px


