html {
  min-width: 1023px; }

html, body {
  position: relative; }

main {
  padding: 0px 15px 880px 15px; }

.progress-teacher-background {
  background: url(Background-progress-for-teacher.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.progress-teacher-header-wrapper {
  margin: 0 40px;
  position: relative; }

.header-progress-teacher-title {
  text-align: right; }

.progress-teacher-header-wrapper > div.row {
  margin-bottom: 0px;
  position: relative; }

.progress-teacher-header-wrapper > div > div.row > div.col.l4 > span {
  display: inline-block;
  height: 45px;
  width: 45px;
  color: #5f80d2;
  background-color: #eebe8e;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  position: relative;
  top: -11px; }

.progress-teacher-header-wrapper > div h1 {
  display: inline-block;
  color: #5f80d2;
  font-weight: bold;
  font-size: 40px;
  line-height: 100%;
  margin: 65px 0px 10px 20px; }

.progress-teacher-header-wrapper div.row > div.col.l4.header-progress-teacher-title > p {
  text-align: right;
  font-size: 25px;
  font-weight: 600;
  color: #76b4fc;
  line-height: 0px;
  margin-bottom: 0px; }

.progress-teacher-header-wrapper div.row > div.input-field.col.l2.offset-l5 {
  margin-top: 75px; }

.progress-teacher-header-button-custom {
  margin-top: 22px !important;
  background-color: #dd7d1e !important;
  padding: 0 50px !important; }

.progress-arrows-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 30px; }

.progress-arrows-wrapper a.progress-arrows {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 1;
  color: #dd7d1e; }
  .progress-arrows-wrapper a.progress-arrows:hover {
    background-color: #e2e2e2; }

.progress-arrows-wrapper p {
  font-size: 10px;
  margin: 0;
  color: grey; }

.progress-arrows-wrapper a:hover + p.progress-arrow-left-index,
.progress-arrows-wrapper a:hover + p.progress-arrow-right-index {
  cursor: pointer;
  visibility: visible; }

.progress-arrow-right-index {
  position: relative;
  top: -5px;
  visibility: hidden; }

.progress-arrow-left-index {
  position: relative;
  top: -5px;
  visibility: hidden; }

.table-wrapper {
  margin: 0 40px;
  position: relative; }

.progress-teacher-background div.table-wrapper > table.striped > {
  width: 100%; }

.progress-teacher-background div.table-wrapper > table.striped > thead > tr > th {
  background-color: #3b58a1;
  border-radius: 8px !important;
  height: 60px;
  border: 3px solid white;
  text-align: center;
  padding: 4px; }
  .progress-teacher-background div.table-wrapper > table.striped > thead > tr > th:hover {
    cursor: pointer;
    background-color: #5f80d2; }

.progress-teacher-background div.table-wrapper > table.striped > thead > tr > th > p {
  font-size: 10px;
  font-weight: normal;
  color: white; }

.progress-teacher-background div.table-wrapper > table.striped > thead > tr > th > p, span {
  margin: 0; }

.progress-teacher-table-th-no {
  width: 60px;
  font-weight: normal;
  color: white; }

.progress-teacher-table-th-student-name {
  width: 240px;
  font-weight: normal;
  color: white; }

.progress-teacher-table-th-day {
  width: 60px;
  font-weight: normal;
  color: white; }

.progress-teacher-table-th-sunday {
  width: 60px;
  font-weight: normal;
  color: white;
  background-color: #3f5079 !important; }

.progress-teacher-table-th-total {
  width: 50px;
  font-weight: normal;
  color: white;
  background-color: #dd7d1e !important; }

.progress-teacher-background div.table-wrapper tbody {
  border-top: 6px solid white; }

.progress-teacher-work-name-row {
  border-bottom: 6px solid white !important; }

.progress-teacher-work-name-visibility {
  visibility: hidden; }

.progress-teacher-work-name-lect,
.progress-teacher-work-name-lab,
.progress-teacher-work-name-work {
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  padding: 7px 5px; }

.progress-teacher-work-name-lect > span,
.progress-teacher-work-name-lab > span,
.progress-teacher-work-name-work > span {
  display: inline-block;
  padding: 12px 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 2px solid transparent; }

.progress-teacher-work-name-lect {
  color: #54b9e9; }
  .progress-teacher-work-name-lect:hover span {
    cursor: pointer;
    border: 2px solid #54b9e9; }

.progress-teacher-work-name-lab {
  color: #179c71; }
  .progress-teacher-work-name-lab:hover span {
    cursor: pointer;
    border: 2px solid #179c71; }

.progress-teacher-work-name-work {
  color: #bd234f; }
  .progress-teacher-work-name-work:hover span {
    cursor: pointer;
    border: 2px solid #bd234f; }

.progress-teacher-background div.table-wrapper tbody > tr > td {
  border: 3px solid white;
  padding: 0px; }

.progress-teacher-background div.table-wrapper tbody:nth-child(odd) {
  background-color: #eeeeee; }

.progress-teacher-background div.table-wrapper tbody:nth-child(even) {
  background-color: #e2e0e0 !important; }

.progress-teacher-table-td-no {
  width: 60px !important;
  font-weight: normal;
  text-align: center;
  color: #213b63; }

.progress-teacher-table-td-student-name {
  width: 240px !important;
  font-weight: normal;
  color: #213b63; }

.progress-teacher-table-td-student-name > span {
  display: inline-block;
  padding: 8px 5px;
  font-weight: 600;
  width: 100%;
  height: 100%; }
  .progress-teacher-table-td-student-name > span:hover {
    cursor: pointer;
    outline: 2px solid; }

.progress-teacher-table-td-day {
  width: 60px !important;
  font-weight: normal;
  text-align: center;
  color: #213b63; }

.progress-teacher-table-lect,
.progress-teacher-table-work,
.progress-teacher-table-lab {
  position: relative; }

.progress-teacher-table-td-day.progress-teacher-table-lect > span,
.progress-teacher-table-td-day.progress-teacher-table-work > span,
.progress-teacher-table-td-day.progress-teacher-table-lab > span {
  display: inline-block;
  border: 2px solid transparent;
  color: #3b58a1;
  width: 100%;
  height: 100%;
  padding: 8px 5px;
  margin: 0px; }

.progress-teacher-table-td-day.progress-teacher-table-lect > span:hover {
  cursor: pointer;
  border: 2px solid #54b9e9;
  color: #54b9e9; }

.progress-teacher-table-td-day.progress-teacher-table-work > span:hover {
  cursor: pointer;
  border: 2px solid #bd234f;
  color: #bd234f; }

.progress-teacher-table-td-day.progress-teacher-table-lab > span:hover {
  cursor: pointer;
  border: 2px solid #179c71;
  color: #179c71; }

.progress-teacher-table-td-sunday {
  width: 60px !important;
  font-weight: normal;
  text-align: center;
  color: #213b63; }

.progress-teacher-table-td-total {
  width: 50px !important;
  font-weight: normal;
  text-align: center;
  color: #dd7d1e; }

.progress-teacher-student-lab--color > span {
  outline: 2px solid #179c71; }

.progress-teacher-student-work--color > span {
  outline: 2px solid #bd234f; }

.progress-teacher-student-lect--color > span {
  outline: 2px solid #54b9e9; }

/*# sourceMappingURL=styles.css.map */