
.activation-wrapper
    width: 100%
    height: 100%
    background-color: rgba(59, 88, 161, 0.1)
    padding:
        top: 5%

.activation-message-wrapper
    width: 55%
    margin: 0 auto
    padding: 15px
    text-align: center
    background-color: white
    border-radius: 5px
    box-shadow: -3px 4px 6px grey

.activation-message-wrapper>h2
    color: #17134c
    font-size: 30px
    margin-bottom: 40px


.activation-message-button-wrapper
    text-align: right

.activation-message-button-wrapper>a>i.material-icons.small
    color: rgb(59, 88, 161)
    &:hover
        cursor: pointer


.subject
    margin-bottom: 30px
    padding: 10px
    text-align: left
    >span
        color: rgb(59, 88, 161)
        font-size: 25px
    >p
        position: relative
        top: -10px
        margin: 0px !important

.botBotoom
    margin: 30px 0 
        
buttom
    text-align: center
    color: rgb(59, 88, 161)
    background-color: orange
    padding: 10px 20px
    border-radius: 5px
    font-size: 25px


label
    margin-left: 10px
    >span
        font-size: 25px !important
        color: #3b58a1


[type="checkbox"]:checked+span:not(.lever):before
    border-right: 2px solid orange
    border-bottom: 2px solid orange


// .activation-message-button-wrapper-end
//     background-color: #213b63
//     padding: 5px 30px
//     width: 120px
//     text-align: center !important
//     margin-left: 80%
//     margin-bottom: 40px
//     border-radius: 5px
//     >a
//         color: white
//         font-size: 20px


