html 
    min-width: 1023px

html, body
    position: relative

main
    padding: 0px 15px 880px 15px

.progress-student-background
    background: url(Background-progress-for-students.png)
    background-repeat: no-repeat
    background-size: 100% 100%



.menu-color 
    background-color: rgba(21, 18, 72, 1)

.sidenav
    width: 338px
    padding-bottom: 10px

li.collection-item.avatar>img.nav-icon-custom.circle
    background-color: white
    width: 30px !important
    height: 30px !important

li.collection-item.avatar>a>img.icon-custom.little-circle
    background-color: white
    width: 20px !important
    height: 20px !important
    position: relative
    left: 40px !important

ul.collection
    border: none !important
    &li.collection-item
        border: none !important

li.collecton-item
    position: relative

.nav-icon-custom
    display: inline-block
    width: 30px
    height: 30px

.logo-custom
    padding-left: 96px !important
    font-size: 24px

.collection .collection-item
    background-color:  #151248 !important
    border-bottom: none !important
    color: white

.collection .collection-item p.logo-custom span
    font-size: 26px
    background-color: rgb(221,125,30)
    color: white
    text-align: center
    line-height: 0.38
    border-radius: 50% 
    display: inline-block
    width: 18px
    height: 18px
    position: absolute
    top: 51px
    left: 131px

li.collection-item.avatar>a 
    display: inline-block


.sidenav li>a>img.icon-custom 
    width: 20px
    height: 20px
    position: relative
    left: 40px !important
    margin: 0

.nav--wrapper--bottom>ul
    display: block
    width: 100%

.nav--wrapper--bottom li>a>img
    width: 20px
    height: 20px
    position: relative
    left: 40px !important
    margin: 0

.collection .collection-item.avatar
    min-height: 50px
    padding-left: 85px

img.avatar-position
    left: 90% !important
    width: 20px !important
    height: 20px !important

.collection .circle
    left: 85px !important

.little-circle
    border-radius: 50%
    background-color: white



    // это анимация, которая должна быть реализована на JS
    // работать должна не при наведении курсора на 
    // панель навигации, а при "вытягивании" мышью из своего
    // начального состояния
    // иконки справа должны при этом исчезнуть как в данной анимации

.side-menu__custom
    // transform: translateX(0%)

    // это изначальное положение навигационной панели,
    // которое должно быть перенесено в анимацию на JS

    transform: translateX(-297px)


    display: flex
    flex-direction: column
    justify-content: space-between
    z-index: 10
    height: 100%
    transition: 0.6s
    &:hover
        cursor: pointer
        transform: translateX(0%)
        transition: 0.6s

.side-menu__custom:hover li>a img.icon-custom

    display: none
    transition-delay: 1s

.side-menu__custom:hover li>a.secondary-content>img.icon-custom.little-circle
    display: none
    transition-delay: 1s

.sidenav li>a
    color: white
    height: 40px !important








    

.progress-student-header-wrapper
    margin: 0 40px
    position: relative

.header-progress-student-title
    text-align: right

.progress-student-header-wrapper>div.row
    margin-bottom: 0px
    position: relative

.progress-student-header-wrapper>div>div.row>div.col.l4>span
    display: inline-block
    height: 40px
    width: 40px
    color: rgb(95,128,210)
    background-color: rgb(238, 190, 142)
    border-radius: 50%
    text-align: center
    line-height: 36px
    position: relative
    top: -8px


.progress-student-header-wrapper>div h1
    display: inline-block
    color: rgb(95,128,210)
    font-weight: bold
    font-size: 40px
    line-height: 100%
    margin: 65px 0px 10px 20px

.progress-student-header-wrapper>div.row>div.col.l4>p 
    text-align: right
    font-size: 28px
    font-weight: bold
    color: rgb(118,180,252)
    line-height: 1
    margin-bottom: 0px

.progress-student-option-field
    font-size: 12px

.progress-arrows-wrapper
    display: flex
    justify-content: space-between
    color: rgb(221, 125, 30)
    position: relative
    top: 30px

.table-wrapper
    margin: 0 40px
    position: relative
.progress-student-background div.table-wrapper>table.striped>
    // display: inline-block !important
    width: 100%
.progress-student-background div.table-wrapper>table.striped>thead>tr>th

    background-color: rgb(59, 88, 161)
    border-radius: 8px !important
    // display: inline-block !important
    height: 60px
    border: 3px solid white
    text-align: center
    padding: 4px

.progress-student-background div.table-wrapper>table.striped>thead>tr>th>p 
    font-size: 10px
    font-weight: normal
    color: white

.progress-student-background div.table-wrapper>table.striped>thead>tr>th>p,span
    margin: 0

.progress-student-table-th-no
    width: 60px
    font-weight: normal
    color: white

.progress-student-table-th-subject
    width: 240px
    font-weight: normal
    color: white

.progress-student-table-th-day
    width: 60px
    font-weight: normal
    color: white

.progress-student-table-th-sunday
    width: 60px
    font-weight: normal
    color: white
    background-color: rgb(63,80,121) !important

.progress-student-table-th-total
    width: 50px
    font-weight: normal
    color: white
    background-color: rgb(221, 125, 30) !important

.progress-student-background div.table-wrapper tbody
    border-top: 6px solid white


.progress-student-background div.table-wrapper tbody>tr>td 
    border: 3px solid white
    padding: 8px 5px

.progress-student-background div.table-wrapper tbody:nth-child(odd)
    background-color: rgb(238,238,238)

.progress-student-background div.table-wrapper tbody:nth-child(even)
    background-color: rgb(226,224,224) !important

.progress-student-table-td-no
    width: 60px !important
    font-weight: normal
    text-align: center
    color: rgb(33,59,99)

.progress-student-table-td-subject
    width: 240px !important
    font-weight: normal
    color: rgb(33,59,99)

.progress-student-table-td-day
    width: 60px !important
    font-weight: normal
    text-align: center
    color: rgb(33,59,99)

.progress-student-table-td-sunday
    width: 60px !important
    font-weight: normal
    text-align: center
    color: rgb(33,59,99)

.progress-student-table-td-total
    width: 50px !important
    font-weight: normal
    text-align: center
    color: rgb(221, 125, 30)


