html, body {
  position: relative; }

main {
  padding: 0px 15px 880px 15px; }

.menu-color {
  background-color: #151248; }

.background-cards-teacher {
  background: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-width: 1023px; }

.cards-teacher-view-wrapper {
  margin: 40;
  position: relative; }

.cards-teacher-view-wrapper .card-content > span {
  font-weight: bold;
  margin-left: 30px; }

.cards-teacher-view-wrapper .card-content {
  background-color: #f0efef; }

.cards-teacher-view-wrapper .card-content > span,
.cards-teacher-view-wrapper .card-content > p {
  color: #3e5ba2 !important; }


.cards-teacher-view-wrapper .card-action {
  display: flex !important;
  justify-content: space-around !important; }

.cards-teacher-view-wrapper .col.l4 > .card > .card-content > .row {
  margin: 0px 0px 0px 0px !important; }

.cards-teacher-view-wrapper .cards-teacher-subject-wrapper {
  display: block;
  margin: 0px 0px 15px 0px; }

.cards-teacher-subject-wrapper .cards-teacher-subject-item {
  padding: 0px 24px 0px 24px;
  display: block; }
  .cards-teacher-subject-wrapper .cards-teacher-subject-item:hover {
    cursor: pointer;
    background-color: #f8e5d2; }

.cards-teacher-subject-wrapper div.cards-teacher-subject-item:hover a {
  cursor: pointer;
  color: #3e5ba2;
  border-bottom: 1px solid transparent; }

.cards-teacher-subject-wrapper div.cards-teacher-subject-item:hover span {
  color: #3e5ba2; }

.cards-teacher-view-wrapper .cards-teacher-subject-wrapper .cards-teacher-subject-item > span {
  display: inline-block;
  margin-top: 10px;
  font-size: 12px;
  color: #7b7a7b; }

.cards-teacher-view-wrapper .cards-teacher-subject-wrapper .cards-teacher-subject-item > a {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #7b7a7b;
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid #3e5ba2; }

.cards-teacher-view-wrapper .card .card-action {
  border-top: none !important;
  padding: 24px 24px 36px 24px !important; }

.cards-teacher-view-wrapper .card .card-action > a {
  text-transform: none !important;
  text-decoration: underline !important; }

.cards-teacher-view-wrapper .card .card-action > a:first-child {
  color: #3e5ba2 !important; }

.cards-teacher-view-wrapper .card .card-action > a:last-child {
  margin-right: 0px !important; }

/*# sourceMappingURL=styles.css.map */
