html {
  background: url(background-x2.png) 100% 100%;
  min-width: 1300px; }

body {
  padding: 0px 15px 880px 15px; }

.header-button {
  padding: 0;
  background-color: #3b58a1;
  color: white;
  border-radius: 3px;
  border: 0px;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  width: 185px;
  height: 55px; }

.header-button > span {
  display: inline-block;
  margin: 10px;
  text-transform: none; }

.headernav-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 1300px; }

main > header > div.headernav-wrapper > h1 {
  display: inline-block;
  font-size: 100px;
  font-weight: bold;
  color: #e1e8f0;
  margin: 40px 0px 0px 100px; }

main > header > div.headernav-wrapper > ul {
  display: inline-block;
  margin: 0; }

main > header > div.headernav-wrapper > ul > li {
  display: inline-block;
  margin: 10px;
  color: white;
  font-weight: 600; }
  main > header > div.headernav-wrapper > ul > li:hover {
    color: #3b58a1;
    text-decoration: underline; }

.schedule-wrapper {
  margin-left: 65px;
  margin-top: 40px;
  min-width: 1200px; }

div.schedule-wrapper > table > thead > tr, div.schedule-wrapper > table > tbody > tr {
  border-bottom: 0px; }

div.schedule-wrapper > table > thead > tr > th, div.schedule-wrapper > table > tbody > tr > td {
  padding: 0px;
  border-radius: 0px; }

.schedule-header-time-column {
  display: inline-block;
  height: 60px;
  width: 120px;
  background-color: #eee; }

.schedule-header {
  display: inline-block;
  height: 60px;
  min-width: 150px;
  margin-left: 3px;
  background-color: #eee;
  text-align: center; }

.schedule-header > p {
  margin: 5px;
  color: #7a797a; }

.table-time-block1 {
  display: inline-block;
  height: 120px;
  width: 120px;
  background-color: white;
  text-align: center;
  padding-top: 50px !important;
  padding-bottom: 50px !important; }

.table-time-block2 {
  display: inline-block;
  height: 120px;
  width: 120px;
  background-color: #eee;
  text-align: center;
  padding-top: 50px !important;
  padding-bottom: 50px !important; }

/*# sourceMappingURL=styles.css.map */