html {
  min-width: 1023px; }

html, body {
  position: relative; }

main {
  padding: 0px 15px 880px 15px; }

.schedule-teacher-background {
  background: url(background-x2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.header-button {
  padding: 0;
  background-color: #3b58a1;
  color: white;
  border-radius: 3px;
  border: 0px;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  width: 15%;
  max-width: 185px;
  height: 55px;
  display: inline-block !important; }

.header-button > span {
  display: inline-block;
  margin: 10px;
  text-transform: none; }

.headernav-wrapper {
  display: flex;
  justify-content: space-around;
  flex-flow: row;
  align-items: flex-end; }

.schedule-teacher-background .headernav-wrapper > h1 > span {
  display: inline-block;
  color: #e1e8f0;
  position: relative;
  top: -10px;
  left: -15px;
  font-size: 40px;
  font-weight: normal;
  background-color: #dd7d1e;
  line-height: 60px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 3px 5px grey; }

.schedule-teacher-background main > header > div.headernav-wrapper > h1 {
  display: inline-block;
  font-size: 60px;
  font-weight: bold;
  color: #e1e8f0;
  margin: 40px 0px 0px 70px; }

main > header > div.headernav-wrapper > ul {
  display: inline-block;
  margin: 0; }

main > header > div.headernav-wrapper > ul > li {
  display: inline-block;
  margin: 10px; }

main > header > div.headernav-wrapper > ul > li > a {
  color: white;
  font-weight: 600; }
  main > header > div.headernav-wrapper > ul > li > a:hover {
    cursor: pointer;
    color: #3b58a1;
    text-decoration: underline; }

.schedule-wrapper {
  margin: 40;
  position: relative; }

div.schedule-wrapper > table > thead > tr, div.schedule-wrapper > table > tbody > tr {
  border-bottom: 0px; }

div.schedule-wrapper > table > thead > tr > th, div.schedule-wrapper > table > tbody > tr > td {
  padding: 0px;
  border-radius: 0px; }

.card-icon-bar {
  display: flex;
  justify-content: space-between; }

.card-icon-bar > i.material-icons {
  font-size: 1.5rem; }

.card-icon--color-orange {
  color: #dd7d1e; }

.card-icon--color-green {
  color: #179c71; }

.card-icon--color-grey {
  color: #9b9b9b; }

.card-icon--hidden {
  visibility: hidden; }

.schedule-thead {
  height: 60px;
  position: relative; }

.schedule-header-time-column {
  display: inline-block;
  height: 60px;
  width: 9%;
  padding: 10px;
  position: absolute;
  left: 0%;
  background-color: #eee; }

.schedule-header {
  display: inline-block;
  height: 60px;
  width: 12.7%;
  background-color: #eee;
  text-align: center; }

.schedule-header > p {
  margin: 5px;
  color: #7a797a; }

.table-time-block {
  display: inline-block;
  height: 120px;
  width: 9%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding-top: 50px !important;
  padding-bottom: 50px !important; }

.table-time-block-white {
  background-color: white; }

.table-time-block-dark {
  background-color: #eee; }

.card-schedule {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 180px;
  width: 12.7%;
  margin-left: 0.3%;
  padding: 4px 4px 4px 10px !important;
  background-color: #3b58a1;
  color: white;
  border-bottom: 1px solid #99b1cf;
  position: absolute; }
  .card-schedule:hover {
    cursor: pointer;
    background-color: #5f80d2; }

.card-schedule:hover .card-time {
  color: white; }

.card-schedule > h5 {
  margin: 0 !important; }

.card-p--margin {
  margin: 0; }

div.schedule-wrapper > table.responsive-table > thead > tr {
  position: relative; }

.card-time {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #76b4fc; }

.schedule--positionY1 {
  position: absolute;
  right: 78%; }

.schedule--positionY2 {
  position: absolute;
  right: 65%; }

.schedule--positionY3 {
  position: absolute;
  right: 52%; }

.schedule--positionY4 {
  position: absolute;
  right: 39%; }

.schedule--positionY5 {
  position: absolute;
  right: 26%; }

.schedule--positionY6 {
  position: absolute;
  right: 13%; }

.schedule--positionY7 {
  position: absolute;
  right: 0%; }

.card--positionX0 {
  position: absolute;
  top: 60px; }

.card--positionX1 {
  position: absolute;
  top: 240px; }

.card--positionX2 {
  position: absolute;
  top: 420px; }

.card--positionX3 {
  position: absolute;
  top: 600px; }

.card--positionX4 {
  position: absolute;
  top: 780px; }

.card--positionX5 {
  position: absolute;
  top: 960px; }

.card--positionX6 {
  position: absolute;
  top: 1140px; }

.card--positionX7 {
  position: absolute;
  top: 1320px; }

.card--positionX8 {
  position: absolute;
  top: 1500px; }

.card--positionX9 {
  position: absolute;
  top: 1680px; }

/*# sourceMappingURL=styles.css.map */
